/* // DEFAULT Layout transitions
// .layout-enter-active, .layout-leave-active {
//     transition: opacity 0.5s;
// }

// .layout-enter, .layout-leave-active {
//     opacity: 0;
// } */

/* DEFAULT Page transitions */
.page-enter-active, .page-leave-active {
    transition: opacity 1.5s;
}

.page-enter, .page-leave-to {
    opacity: 0;
}

/* CUSTOM FADE TRANSITION */
.custom-enter-active, .custom-leave-active {
    transition: opacity 1s;
}

.custom-enter, .custom-leave-to {
    opacity: 0;
}
